@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  background: radial-gradient(circle, rgba(244,244,244,1) 0%, rgba(238,235,235,1) 0%);
}


/* ......................Loading............................... */


spinner {
  position: relative;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::before,
.spinner::after {
  border: 6.7px solid #b70d4f;
  border-radius: 50%;
  position: absolute;
  content: '';
  display: block;
}

.spinner::before {
  width: 33.6px;
  height: 33.6px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner::after {
  animation: spinner-1o3y8q 0.5s infinite linear;
  height: 56px;
  width: 56px;
  border-right-color: transparent;
  border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
  to {
     transform: rotate(360deg);
  }
}


/* .owl-stage{
transform: translate3d(-6580px, 0px, 0px); transition: all 0s ease 0s;
} */


.p-3svg {
  background: #C60017;
  height: 175px;
  width: 175px;
  /* position: absolute; */
  border-radius: 100%;
  top: 260px;
  right: 120px;
  padding: 42px;
  transition: all ease-in-out .5s;
  -webkit-transition: all ease-in-out .5s;
}
.p-3svg:hover{
  background-color: black;
}

.p-3svg svg {
  width: 85px;
  height: 85px;
  fill: #fff;
}
.p-4svg {
  background: black;
  height: 175px;
  width: 175px;
  /* position: absolute; */
  border-radius: 100%;
  top: 260px;
  right: 120px;
  padding: 42px;
  transition: all ease-in-out .5s;
  -webkit-transition: all ease-in-out .5s;
}
.p-4svg:hover{
  background-color: #7c0211;
}

.p-4svg svg {
  width: 85px;
  height: 85px;
  fill: #fff;
}

.p-5svg {
  background: black;
  height: 175px;
  width: 175px;
  /* position: absolute; */
  border-radius: 100%;
  top: 260px;
  right: 120px;
  padding: 42px;
  transition: all ease-in-out .5s;
  -webkit-transition: all ease-in-out .5s;
}
.p-5svg:hover{
  background-color: #7c0211;
}

.p-5svg svg {
  width: 85px;
  height: 85px;
  fill: #fff;
}


/* ....................................... */

.banner{
  position: relative;
  background-image: url(https://i.ibb.co/Kyn06Qp/Minimalist-tech-company-zoom-virtual-background.png);
}

/* .banner::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #b70d4f;
  opacity: 0.9;
} */